<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC '-//Sun Microsystems, Inc.//DTD WebApplication 2.3//EN' 'http://java.sun.com/dtd/web-app_2_3.dtd'>
<web-app><servlet>
	<servlet-name>sender</servlet-name>
	<servlet-class>sender.Sender</servlet-class >
</servlet>
<servlet-mapping>
	<servlet-name>sender</servlet-name>
	<url-pattern>/sender</url-pattern>
</servlet-mapping>
</web-app>
